@import url(<link href="https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.banner{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}
.banner .content{
	position: relative;
	max-width: 750px;
	text-align: center;
}
.banner header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
}
.banner header .logo{
	color: red;
	text-decoration: none;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
}
.text-container p:nth-child(1){
	font-family: calibri;
	font-weight: bold;
	color: #fff;
	font-size: 42px;
}
.text-container p:nth-child(2){
	font-family: calibri;
	font-weight: bold;
	letter-spacing: 1px;
	color: #fff;
	font-size: 30px;
}
.text-container p{
	line-height: 0px;
	margin: 45px 0px 25px;
}
.text-container{
	position: absolute;
	left: 13%;
	top: 42%;
	transform: translate(-13%,-42%);
}
.text-container button{
	width: 130px;
	height: 42px;
	border-radius: 10px;
	font-family: callibri;
	font-weight: bold;
	font-size: 14px;
	outline: none;
	margin: 0px 10px;
}
.btn{
	color: red;
}
 a{
  transition: all .5s;
  text-decoration: none;
  color: #fff;

}
img{
  width: 100%;
  transition: all .5s;
}
section{
  padding: 70px 0;
  margin-top: 50px;
  background: rgba(116, 185, 255,0.09);
  text-align: center;
}
.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
main{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin: 30px 15px 0px 15px;
}
header{
  width: 70%;
  margin: 0 auto;
}
header h1{
  margin: 0;
  font-size: 50px;
  color: rgba(52, 73, 94,1.0);
  font-weight: 500;
}
.singleBlog{
  position: relative;
  overflow: hidden;
  max-height: 580px;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0 2px 10px #ccc;
  transition: all .5s;
}
.singleBlog:hover{
  box-shadow: 0 2px 13px #ccc;
  transition: all .5s;
}
.singleBlog:hover img{
  transform: scale(1.1);
  transition: all .4s;
}
.blogContent{
  position: absolute;
  left: 0;
  bottom: -45px;
  width: 100%;
  color: #fff;
  padding: 10px 5px;
  background: linear-gradient(45deg, rgba(21,82,153,1) 0%,rgba(144,192,229,.4) 100%);
  transition: all .5s;
}
.singleBlog:hover .blogContent{
  bottom: 0;
  transition: all .5s;
}

.blogContent h3{
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
.blogContent h3 span{
  display: block;
  font-size: 60%;
  margin-top: 5px;
  font-weight: 600;
  color: rgba(52, 73, 94,1.0)
}

.blogContent a{
  font-size: 14px;
  font-weight: 500;
}
.blogContent .btn{
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 3px;
  font-weight: 400;
}
.blogContent .btn:hover{
  background: rgba(52, 152, 219,1.0);
  transition: all .5s;
  text-decoration: none;
}
.blogContent a:hover{
  text-decoration: underline;
}
.contact-me{
	width: 100%;
	height: 280px;
	background-image: url("border.png");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.contact-me p{
	color: #FFFFFF;
	font-size: 30px;
	font-family: calibri;
	font-weight: bold;
	border-bottom: 2px solid #FFFFFF;
}
.contact-me button{
	width: 200px;
	height: 40px;
	background-color: #FFFFFF;
	outline: none;
	border: none;
	font-size: 14px;
	font-weight: bold;
}



